<div class="grid">
    <div class="row">
        <div class="span9">
            <div class="page-region" ng-include src="url">
            </div>
        </div>
        <div class="span3">
            <div class="page-region">
                <div class="page-region-content">
                    <ul class="side-menu unstyled">
                        <li class="">
                            <a href="#" ng-click="set('admin-user.html')"> 用户设置 </a>
                            <ul class="unstyled">
                                <li >
                                    <a href="#" ng-click="switchTo()">用户信息</a>
                                </li>
                                <li >
                                    <a href="#" ng-click="switchTo()">添加用户</a>
                                </li>
                                <li >
                                    <a href="#" ng-click="switchTo()">修改用户</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" ng-click="set('admin-tag.html')"> 标签设置 </a>
                            <ul class="unstyled">
                                <li >
                                    <a href="#" ng-click="switchTo()">用户信息</a>
                                </li>
                                <li >
                                    <a href="#" ng-click="switchTo()">添加用户</a>
                                </li>
                                <li >
                                    <a href="#" ng-click="switchTo()">修改用户</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" ng-click="set('admin-global.html')"> 网站设置 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
