<div class="row">
    <div class="span9">
        <div class="panel" ng-include src="getTpl">
        </div>
    </div>
    <div class="span3">
        <div class="panel inner sidebar">
            <ul class="nav nav-list text-center">
                <li class="active">
                    <a href="#" ng-click="setTpl('admin-index.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 网站信息 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-user.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 用户管理 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-tag.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 标签管理 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-article.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 文章管理 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-article.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 评论管理 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-collection.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 合集管理 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-message.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 消息管理 </a>
                </li>
                <li>
                    <a href="#" ng-click="setTpl('admin-global.html')" data-toggle="tab"><i class="glyphicon glyphicon-chevron-left"></i> 网站设置 </a>
                </li>
            </ul>
        </div>
    </div>
</div>
