<section class="clearfix" ng-controller="adminGlobalCtrl">
    <div class="page-header">
            <h4>网站信息</h4>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" ng-click="setTab('tab1')" data-toggle="tab">站点信息</a>
        </li>
        <li>
            <a href="#" ng-click="setTab('tab2')" data-toggle="tab">服务器信息</a>
        </li>
    </ul>

    <div class="tab-content" ng-switch on="switchTab">
        <div class="active" ng-switch-when="tab1">
            <dl class="dl-horizontal">
              <dt>网站名称：</dt>
              <dd>{{global.title}}</dd>
              <dt>网站网址：</dt>
              <dd>{{global.url}}</dd>
              <dt>网站副标题：</dt>
              <dd>{{global.description}}</dd>
              <dt>网站Meta标题：</dt>
              <dd>{{global.metatitle}}</dd>
              <dt>网站Meta描述：</dt>
              <dd>{{global.metadesc}}</dd>
              <dt>网站Meta关键词：</dt>
              <dd>{{global.keywords}}</dd>
              <dt>上线时间：</dt>
              <dd>{{global.date | date:'yy-MM-dd HH:mm'}}</dd>
              <dt>访问总数：</dt>
              <dd>{{global.visitors}}</dd>
              <dt>会员总数：</dt>
              <dd>{{global.users}}</dd>
              <dt>文章总数：</dt>
              <dd>{{global.articles}}</dd>
              <dt>评论总数：</dt>
              <dd>{{global.comments}}</dd>
              <dt>在线用户：</dt>
              <dd>{{global.onlineNum}}</dd>
              <dt>在线会员：</dt>
              <dd>{{global.onlineUsers}}</dd>
              <dt>在线记录：</dt>
              <dd>{{global.maxOnlineNum}}</dd>
              <dt>记录时间：</dt>
              <dd>{{global.maxOnlineTime  | date:'yy-MM-dd HH:mm'}}</dd>
            </dl>
        </div>
        <div ng-switch-when="tab2">
            <dl class="dl-horizontal">
              <dt>服务器已运行时间：</dt>
              <dd>{{global.sys.uptime}}</dd>
              <dt>服务器操作系统：</dt>
              <dd>{{global.sys.platform}}</dd>
              <dt>软件信息：</dt>
              <dd>
                  <span>软件：<a ng-href="{{global.info.homepage}}"><strong>{{global.info.name}}</strong></a></span>
                  <span>版本：{{global.info.version}}</span>
                  <span>作者：<a ng-href="{{global.info.author.url}}">{{global.info.author.name}}</a></span>
                  <span>邮箱：<a href="mailto:#">{{global.info.author.email}}</a></span>
              </dd>
              <dt>Node.js环境：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.node"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>CPUs[{{global.sys.cpus.length}}]：</dt>
              <dd ng-repeat="data in global.sys.cpus">
                <span ng-repeat="(key, value) in data"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>内存使用：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.memory"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>用户缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.user"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>文章缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.article"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>评论缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.comment"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>文章列表缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.list"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>标签缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.tag"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>合集缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.collection"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>消息缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.message"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>分页导航缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.pagination"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
              <dt>操作限时缓存：</dt>
              <dd>
                <span ng-repeat="(key, value) in global.sys.timeInterval"><strong>{{key}}：</strong>{{value}} | </span>
              </dd>
            </dl>
        </div>
    </div>
</section>
