<div class="panel" ng-controller="adminGlobalCtrl">
    <div class="page-header inner">
        <strong>网站信息</strong>
    </div>
    <ul class="nav nav-tabs inner">
        <li class="active" gen-tab-click="active">
            <a ng-click="parent.switchTab='tab1'">站点信息</a>
        </li>
        <li gen-tab-click="active">
            <a ng-click="parent.switchTab='tab2'">服务器信息</a>
        </li>
    </ul>
    <div class="inner" ng-switch on="parent.switchTab">
        <div ng-switch-default>
            <dl class="dl-horizontal">
                <dt>网站名称：</dt>
                <dd>{{global.title | placeholder}}</dd>
                <dt>网站网址：</dt>
                <dd>{{global.url | placeholder}}</dd>
                <dt>网站副标题：</dt>
                <dd>{{global.description | placeholder}}</dd>
                <dt>网站Meta标题：</dt>
                <dd>{{global.metatitle | placeholder}}</dd>
                <dt>网站Meta描述：</dt>
                <dd>{{global.metadesc | placeholder}}</dd>
                <dt>网站Meta关键词：</dt>
                <dd>{{global.keywords | placeholder}}</dd>
                <dt>上线时间：</dt>
                <dd>{{global.date | date:'yy-MM-dd HH:mm'}}</dd>
                <dt>访问总数：</dt>
                <dd>{{global.visitors | placeholder}}</dd>
                <dt>会员总数：</dt>
                <dd>{{global.users | placeholder}}</dd>
                <dt>文章总数：</dt>
                <dd>{{global.articles | placeholder}}</dd>
                <dt>评论总数：</dt>
                <dd>{{global.comments | placeholder}}</dd>
                <dt>在线访客：</dt>
                <dd>{{global.onlineNum | placeholder}}</dd>
                <dt>在线会员：</dt>
                <dd>{{global.onlineUsers | placeholder}}</dd>
                <dt>在线记录：</dt>
                <dd>{{global.maxOnlineNum | placeholder}}</dd>
                <dt>记录时间：</dt>
                <dd>{{global.maxOnlineTime  | date:'yy-MM-dd HH:mm'}}</dd>
            </dl>
        </div>
        <div ng-switch-when="tab2">
            <dl class="dl-horizontal">
                <dt>服务器已运行时间：</dt>
                <dd>{{global.sys.uptime | formatTime}}</dd>
                <dt>服务器操作系统：</dt>
                <dd>{{global.sys.platform | placeholder}}</dd>
                <dt>软件信息：</dt>
                <dd>
                      <span>软件：<a ng-href="{{global.info.homepage}}"><strong>{{global.info.name}}</strong></a></span>
                      <br />
                      <span>版本：{{global.info.version}}</span>
                      <br />
                      <span>作者：<a ng-href="{{global.info.author.url}}">{{global.info.author.name}}</a></span>
                      <br />
                      <span>邮箱：<a href="mailto:#">{{global.info.author.email}}</a></span>
                </dd>
                <dt>Node.js环境：</dt>
                <dd>
                    <span ng-repeat="(key, value) in global.sys.node"><strong>{{key}}：</strong>{{value}}<br /></span>
                </dd>
                <dt>CPUs[{{global.sys.cpus.length}}]：</dt>
                <dd ng-repeat="data in global.sys.cpus">
                    <span ng-repeat="(key, value) in data"><strong>{{key}}：</strong>{{value}}<br /></span>
                </dd>
                <dt>系统内存：</dt>
                <dd>
                    <span ng-repeat="(key, value) in global.sys.memory track by $index"><strong>{{key}}：</strong>{{value | formatBytes}}<br /></span>
                </dd>
                <dt>用户缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.user.capacity}}</span>
                    <span>当前数量：{{global.sys.user.length}}</span>
                </dd>
                <dt>文章缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.article.capacity}}</span>
                    <span>当前数量：{{global.sys.article.length}}</span>
                </dd>
                <dt>评论缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.comment.capacity}}</span>
                    <span>当前数量：{{global.sys.comment.length}}</span>
                </dd>
                <dt>列表缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.list.capacity}}</span>
                    <span>当前数量：{{global.sys.list.length}}</span>
                </dd>
                <dt>标签缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.tag.capacity}}</span>
                    <span>当前数量：{{global.sys.tag.length}}</span>
                </dd>
                <dt>合集缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.collection.capacity}}</span>
                    <span>当前数量：{{global.sys.collection.length}}</span>
                </dd>
                <dt>消息缓存：</dt>
                <dd>
                    <span>容量：{{global.sys.message.capacity}}</span>
                    <span>当前数量：{{global.sys.message.length}}</span>
                </dd>
                <dt>分页导航缓存：</dt>
                <dd>
                    <span>限时(s)：{{global.sys.pagination.timeLimit}}</span>
                    <span>当前数量：{{global.sys.pagination.length}}</span>
                </dd>
                <dt>操作限时缓存：</dt>
                <dd>
                    <span>限时(s)：{{global.sys.timeInterval.timeLimit}}</span>
                    <span>当前数量：{{global.sys.timeInterval.length}}</span>
                </dd>
            </dl>
        </div>
    </div>
</div>
