<div class="row">
    <div class="span9">
        <div class="panel" id="{{article._id}}">
            <header class="page-header">
                <h4>{{article.title}}</h4>
                <ul class="list-inline">
                    <li ng-show="article.refer">原文：<a ng-href="{{article.refer._id}}">{{article.refer.title}}</a></li>
                    <li>时间：{{article.date | formatDate}}</li>
                    <li>更新：{{article.date | formatDate}}</li>
                    <li>访问：{{article.visitors}}次</li>
                    <li>热度：{{article.hots}}</li>
                    <li><a class="btn btn-mini btn-success" href="#" ng-click="reply(article._id)">{{article.comment.commentsList.length}}评论</a></li>
                </ul>
                <ul class="list-inline">
                    <li>标签：</li>
                    <li ng-repeat="tag in article.tagsList">
                        <a ng-href="{{'/'+tag._id}}" class="btn btn-small">{{tag.tag}}</a>
                    </li>
                </ul>
            </header>
            <div class="content" ng-parse-markdown="article.content">
            </div>
            <footer>
                <div ng-show="article.collection">所属合集：<a ng-href="{{'/'+article.collection._id}}">{{article.collection.title}}</a><div>
                <div class="btn-group btn-group-justified">
                    <a type="button" class="btn btn-success" ng-click="setFavor(article._id)">{{article.favorsList.length}} | {{isFavor | favor}}</a>
                    <a type="button" class="btn btn-warning" ng-click="setCollector(article._id)">{{article.collectorsList.length}} | {{isCollector | collector}}</a>
                    <a type="button" class="btn btn-primary" ng-click="setOppose(article._id)">{{article.opposesList.length}} | {{isOppose | oppose}}</a>
                </div>
                <ul class="list-inline" ng-show="article.favorsList">
                    <li>支持：</li>
                    <li ng-repeat="user in article.favorsList">
                        <a ng-href="{{'/'+user._id}}">{{user.name}}</a>
                    </li>
                </ul>
                <ul class="list-inline" ng-show="article.opposesList">
                    <li>反对：</li>
                    <li ng-repeat="user in article.opposesList">
                        <a ng-href="{{'/'+user._id}}">{{user.name}}</a>
                    </li>
                </ul>
                <ul class="list-inline" ng-show="article.collectorsList">
                    <li>收藏：</li>
                    <li ng-repeat="user in article.collectorsList">
                        <a ng-href="{{'/'+user._id}}">{{user.name}}</a>
                    </li>
                </ul>
            </footer>
        </div>
        <div class="panel">
            <div class="media" ng-repeat="comment in article.commentsList">
              <a class="pull-left" ng-href="{{'/'+comment.author._id}}">
                <img class="media-object" ng-src="{{comment.author.avatar}}">
              </a>
              <div class="media-body" id="{{comment._id}}">
                <div class="media-heading">
                    <span><a ng-href="{{'/'+comment.author._id}}">{{comment.author.name}}</a>
                        发表于{{comment.date | formatDate}}</span>
                    <ul class="list-inline pull-right" ng-show="isLogin">
                        <li><a class="btn btn-mini" href="#" ng-click="setFavor(comment._id)">{{comment.favorsList.length}}支持</a></li>
                        <li><a class="btn btn-mini" href="#" ng-click="setOppose(comment._id)">{{comment.opposesList.length}}反对</a></li>
                        <li><a class="btn btn-mini" href="#" ng-click="reply(comment._id)">{{comment.commentsList.length}}回复</a></li>
                    </ul>
                    <h5>回复：<a href="#" ng-click="getComment(comment.refer._id)">{{comment.refer.title}}</a>&nbsp;
                        <a ng-href="{{'/'+comment.refer.author._id}}">{{comment.refer.author.name}}</a>
                    </h5>
                </div>
                <div class="media-content" ng-parse-markdown="comment.content"></div>
              </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="panel">
            <div class="media">
              <a class="pull-left" ng-href="{{'/'+article.author._id}}">
                <img class="media-object" ng-src="{{article.author.avatar}}">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><a ng-href="{{'/'+article.author._id}}">{{article.author.name}}</a></h5>
                <a type="button" class="btn btn-success" href="#" ng-click="followMe(article.author._id)" ng-hide="isMe">{{isFollow | follow}}</a>
              </div>
            </div>
        </div>
    </div>
</div>
