<ul class="pagination" ng-show="showPages.length>1">
    <li ng-class="{disabled: !paginationPrev}"><a ng-href="{{(paginationPrev&&(locationPath+paginationPrev))||''}}" title="上一页">&#171;</a></li>
    <li ng-class="{active: n==pageIndex, disabled: n=='…'}" ng-repeat="n in showPages">
        <a ng-href="{{(n!='…'&&n!=pageIndex&&(locationPath+n))||''}}" title="{{(n!='…'&&('第'+n+'页'))||''}}">{{n}}</a>
    </li>
    <li ng-class="{disabled: !paginationNext}"><a ng-href="{{(paginationNext&&(locationPath+paginationNext))||''}}" title="下一页">&#187;</a></li>
    <li ng-class="{active: n==pageSize}" ng-repeat="n in perPages"><a class="info" ng-href="{{n!=pageSize&&(locationPath+'1&s='+n)||''}}" title="每页{{n}}">{{n}}</a></li>
</ul>