<div class="modal hide fade" id="{{id}}">
    <div class="modal-header" ng-show="title">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body" ng-transclude></div>
    <div class="modal-footer" ng-show="confirmBtn || cancelBtn || deleteBtn">
        <button type="button" class="btn btn-warning pull-left" ng-show="deleteBtn" ng-click="deleteCb()">{{deleteBtn}}</button>
        <button type="button" class="btn btn-primary" ng-show="confirmBtn" ng-click="confirmCb()">{{confirmBtn}}</button>
        <button type="button" class="btn" ng-show="cancelBtn" ng-click="cancelCb()">{{cancelBtn}}</button>
    </div>
</div>