<ul class="nav nav-tabs inner">
    <li ng-class="{active: parent.viewPath=='latest'}">
        <a href="#/latest" title="最新文章">最新</a>
    </li>
    <li ng-class="{active: parent.viewPath=='hots'}">
        <a href="#/hots" title="热门文章">热门</a>
    </li>
    <li ng-class="{active: parent.viewPath=='update'}">
        <a href="#/update" title="最近更新文章">更新</a>
    </li>
    <li ng-class="{active: !parent.viewPath}" ng-show="other._id">
        <a ng-href="#/{{other._id}}">{{other.title}}</a>
    </li>
    <div class="pure-button-group right">
        <a href="#/add" class="pure-button success-bg" ng-if="global.isLogin">发表文章</a>
        <a class="pure-button list-model" title="{{parent.listModel&&'简洁模式'||'摘要模式'}}" ng-class="{'primary-bg':!parent.listModel}" ng-click="setListModel()"><i class="icon-th-large"></i></a>
    </div>
</ul>
<ul class="list-inline inner">
    <li ng-repeat="tag in global.tagsList">
        <a ng-href="{{'#/'+tag._id}}" class="pure-button pure-button-mini info-bg">{{tag.tag}}</a>
    </li>
    <li>
        <a href="#/tag" class="pure-button pure-button-mini primary-bg"><i class="icon-search"></i>更多</a>
    </li>
</ul>
<ul class="media-list">
    <li class="media" ng-animate="{enter:'fadeInDown',leave:'fadeOutDown'}" ng-repeat="article in articleList">
        <div class="media-body" id="{{article._id}}">
            <header class="media-header">
                <a ng-href="{{'#/'+article._id}}">
                    <i class="success" ng-class="{'icon-hand-up':article.status==2, 'icon-external-link':article.status!=2}"></i>{{article.title}}</a>
                <i ng-show="article.status==1" class="icon-thumbs-up hot" title="推荐"></i>
                <i class="icon-star-empty right hot hover-icon" title="热度">{{article.hots}}</i>
            </header>
            <div class="media-content list-content" ng-animate="{show:'fadeIn',hide:'fadeOut'}" ng-hide="parent.listModel" gen-parse-md="article.content"></div>
            <footer class="media-footer">
                <a ng-href="{{'#/'+article.author._id}}"><i class="icon-pencil success"></i>{{article.author.name}}</a>
                <i class="icon-time" title="{{article.date | formatDate:true}}发布"> {{article.date | formatDate}}</i>
                <i class="icon-refresh" title="{{article.updateTime | formatDate:true}}更新"> {{article.updateTime | formatDate}}</i>
                <i class="icon-comments-alt" title="评论" ng-show="article.comments"> {{article.comments}}</i>
                <a ng-repeat="tag in article.tagsList" ng-href="{{'#/'+tag._id}}" class="pure-button pure-button-link">{{tag.tag}}</a>
            </footer>
        </div>
    </li>
</ul>
