<div class="row">
    <div class="span9">
        <div class="panel">
            <ul class="nav nav-tabs">
                <li id="view-latest" class="active" >
                    <a href="#" ng-click="getList('latest')" data-toggle="tab">最新文章</a>
                </li>
                <li id="view-hots" >
                    <a href="#" ng-click="getList('hots')" data-toggle="tab">热门文章</a>
                </li>
                <li id="view-update" >
                    <a href="#" ng-click="getList('update')" data-toggle="tab">最近更新</a>
                </li>
                <li id="view-other" ng-show="other.name">
                    <a href="#" ng-click="getList(other._id)" data-toggle="tab">{{other.name}}</a>
                </li>
                <a href="/add" class="btn btn-success pull-right" ng-show="isLogin">发表文章</a>
            </ul>
            <div class="tab-content">
                <ul class="list-inline inner">
                    <li ng-repeat="tag in global.tagsList">
                        <a ng-href="{{'/'+tag._id}}" class="btn btn-small btn-info">{{tag.tag}}</a>
                    </li>
                    <li>
                        <a href="/tag" class="btn btn-small">更多标签...</a>
                    </li>
                </ul>
                <ul class="media-list">
                    <li class="media" ng-repeat="article in data">
                      <div class="media-body" id="{{article._id}}">
                        <header class="media-heading">
                            <h5><a ng-href="{{'/'+article._id}}">{{article.title}}</a>
                            <i ng-show="article.status==2" class="glyphicon glyphicon-hand-up text-success" title="置顶"></i>
                            <i ng-show="article.status>=1" class="glyphicon glyphicon-fire text-hot" title="推荐"></i>
                            <i class="btn btn-mini pull-right" title="热度">{{article.hots}}</i>
                            </h5>
                        </header>
                        <section class="media-content" ng-parse-markdown="article.content"></section>
                        <footer>
                            <ul class="list-inline muted">
                                <li><a ng-href="{{'/'+article.author._id}}">{{article.author.name}}</a>
                                {{article.date | formatDate}}发表</li>
                                <li>{{article.visitors}}次访问</li>
                                <li ng-hide="article.date==article.updateTime">{{article.updateTime | formatDate}}更新</li>
                                <li>{{article.comments}}条评论</li>
                                <li ng-repeat="tag in article.tagsList">
                                    <a ng-href="{{'/'+tag._id}}" class="btn btn-mini">{{tag.tag}}</a>
                                </li>
                            </ul>
                        </footer>
                      </div>
                    </li>
                </ul>
                <div class="pull-left" ng-pagination="pagination" ng-show="pagination"></div>
            </div>
        </div>
    </div>
    <div class="span3 sidebar">
        <div class="panel">
            <div class="thumbnail inner text-center">
                <img src="/static/img/angularjs.png" alt="angularjs">
                <div class="caption">
                <h5 class="text-left">使用超动感HTML &amp; JS开发WEB应用！</h5>
                <p><a href="https://github.com/angular/angular.js" class="btn btn-info" target="_blank">GitHub开源</a>
                    <a href="http://code.angularjs.org/" class="btn btn-info" target="_blank">最新下载</a></p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="thumbnail inner text-center">
                <h2><strong>{<span class="text-success">js</span><span class="text-hot">G</span><span class="text-success">en</span>}</strong></h2>
                <div class="caption">
                <h5 class="text text-left">纯JavaScript构建的新一代开源社区网站系统，基于Node.js &amp; AngularJS！</h5>
                <p><a href="https://github.com/zensh/jsgen" class="btn btn-info" target="_blank">GitHub开源</a></p>
                </div>
            </div>
        </div>
        <div class="panel">
            <header class="inner">
                <strong class="muted">社区帮助</strong>
            </header>
            <div class="inner">
                <ol>
                    <li>本社区网站不支持IE8以下的浏览器</li>
                    <li>新用户注册后请点击注册邮箱的验证链接，验证后才可发帖</li>
                </ol>
            </div>
        </div>
        <div class="panel">
            <header class="inner">
                <strong class="muted">热门评论</strong>
            </header>
            <ul class="media-list inner">
                <li class="media" ng-repeat="comment in hotComments">
                  <div class="media-body" id="{{comment._id}}">
                    <strong class="text-hot pull-left" title="热度"><em>{{comment.hots}}</em></strong>
                    <section class="media-content" ng-parse-markdown="comment.content"></section>
                    <footer>
                        <em><a ng-href="{{'/'+comment.author._id}}">{{comment.author.name}}</a>
                            <a ng-href="{{'/'+comment.refer._id}}">{{comment.title}}</a></em>
                    </footer>
                  </div>
                </li>
            </ul>
        </div>
        <div class="panel">
            <header class="inner">
                <strong class="muted">赞助链接</strong>
            </header>
            <div class="inner">
            </div>
        </div>
        <div class="panel">
            <header class="inner">
                <strong class="muted">网站状态</strong>
            </header>
            <div class="inner">
                <ul class="list-inline inner">
                  <li>访问总数：{{global.visitors}}</li>
                  <li>文章总数：{{global.articles}}</li>
                  <li>评论总数：{{global.comments}}</li>
                  <li>会员总数：{{global.users}}</li>
                  <li>在线访客：{{global.onlineNum}}</li>
                  <li>在线会员：{{global.onlineUsers}}</li>
                  <li>在线记录：{{global.maxOnlineNum}}</li>
                  <li>时间：{{global.maxOnlineTime  | date:'yy-MM-dd HH:mm'}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
