<div class="pure-g-r wrap">
    <div class="pure-u-1-2">
        <div class="panel pure-hidden-phone">
            <div class="page-header text-center">
                <span class="hot">欢迎回到AngularJS中文社区</span>
            </div>
            <div class="inner text-center">
                <img src="/static/img/angularjs.png" alt="angularjs">
                <div class="text-show">使用超动感HTML &amp; JS开发WEB应用！</div>
                <div class="text-show text-hot">QQ交流群 <strong>278252889</strong></div>
                <div class="text-show">
                    <a href="https://github.com/angular/angular.js" class="pure-button pure-button-small" target="_blank"><i class="icon-github icon-large"></i>GitHub</a>
                    <a href="http://weibo.com/angularjs/" class="pure-button pure-button-small" target="_blank"><i class="icon-weibo icon-large"></i>WeiBo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel transparent">
            <div class="page-header inner">
                <strong class="primary">用户登录</strong>
            </div>
            <form class="pure-form pure-form-aligned inner" novalidate>
                <div class="pure-control-group">
                    <label>登录名：</label>
                    <input type="text" placeholder="name or Email or Uid" name="登录名" ng-model="login.logname" gen-tooltip="validateTooltip" required/>
                </div>
                <div class="pure-control-group">
                  <label>密码：</label>
                    <input type="password" placeholder="password" name="密码" ng-model="login.logpwd" ng-minlength="6" ng-maxlength="20" gen-tooltip="validateTooltip" required/>
                </div>
                <div class="pure-controls">
                    <label for="auto-login" class="pure-checkbox">
                        <input id="auto-login" type="checkbox" ng-model="login.logauto">3天内自动登录
                    </label>
                    <button class="pure-button primary-bg" ng-click="submit()">登录</button>
                    <a class="pure-button warning-bg" ng-show="reset.title" ng-href="{{'/reset?type='+reset.type}}">{{reset.title}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
