<div class="row">
    <div class="span4">
        <div class="page-header">
            <h3>用户注册</h3>
        </div>
        <div class="alert alert-error" ng-show="global.user.err">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{global.user.err.name}}</strong>
            {{global.user.err.message}}
        </div>
        <form class="form-signin" name="register">
            <span class="text-error" ng-show="register.name.$error.required">
                请输入用户名!
            </span>
            <span class="text-error" ng-show="!register.name.$error.required && (name | checkName)">
                {{name | checkName}}
            </span>
            <input class="input-block-level" type="text" placeholder="name" name="name"
            ng-model="name" required/>
            <span class="text-error" ng-show="register.email.$error.required">
                请输入Email!
            </span>
            <span class="text-error" ng-show="register.email.$error.email">
                无效的Email!
            </span>
            <input class="input-block-level" type="email" placeholder="email" name="email"
            ng-model="email" required/>
            <span class="text-error" ng-show="register.password.$error.required">
                请输入密码!
            </span>
            <span class="text-error" ng-show="register.password.$error.minlength">
                密码太短!
            </span>
            <span class="text-error" ng-show="register.password.$error.maxlength">
                密码太长!
            </span>
            <input class="input-block-level" type="password" placeholder="password"
            name="password" ng-model="passwd" ng-minlength="6" ng-maxlength="20" required/>
            <span class="text-error" ng-show="register.password2.$error.required">再次输入密码</span>
            <span class="text-error" ng-show="checkResult">
                密码不一致！
            </span>
            <input class="input-block-level" type="password" name="password2" ng-model="passwd2" ng-change="checkPwd()"
            required/>
            <button ng-click="submit()" class="btn btn-large btn-primary" ng-disabled="register.name.$error.required
                                || register.email.$error.required
                                || register.email.$error.email
                                || register.password.$error.required
                                || register.password.$error.minlength
                                || register.password.$error.maxlength
                                || (name | checkName)
                                || checkResult">注 册</button>
        </form>
    </div>
    <div class="span8">
    </div>
</div>
