<div class="pure-g-r wrap">
    <div class="pure-u-1-2">
        <div class="panel pure-hidden-phone">
            <div class="page-header text-center">
                <span class="hot">欢迎来到AngularJS中文社区</span>
            </div>
            <div class="inner text-center">
                <img src="/static/img/angularjs.png" alt="angularjs">
                <div class="text-show">使用超动感HTML &amp; JS开发WEB应用！</div>
                <div class="text-show text-hot">QQ交流群 <strong>278252889</strong></div>
                <div class="text-show">
                    <a href="https://github.com/angular/angular.js" class="pure-button pure-button-small" target="_blank"><i class="icon-github icon-large"></i>GitHub</a>
                    <a href="http://weibo.com/angularjs/" class="pure-button pure-button-small" target="_blank"><i class="icon-weibo icon-large"></i>WeiBo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="panel transparent">
            <div class="page-header inner">
                <span class="success">用户注册</span>
            </div>
            <form class="pure-form pure-form-aligned inner" name="register">
                <div class="pure-control-group">
                    <label for="user-name">用户名：</label>
                    <input id="user-name" type="text" placeholder="name" name="用户名" ng-model="name" required/>
                </div>
                <div class="pure-control-group">
                    <label for="user-email">邮箱：</label>
                    <input id="user-email" type="email" placeholder="email" name="邮箱" ng-model="email" required/>
                </div>
                <div class="pure-control-group">
                    <label for="user-password">密码：</label>
                    <input id="user-password" type="password" placeholder="password" name="密码" ng-model="passwd" ng-minlength="6" ng-maxlength="20" required/>
                </div>
                <div class="pure-control-group">
                    <label for="re-password">重复密码：</label>
                    <input id="re-password" type="password" name="重复密码" ng-model="passwd2" required/>
                </div>
                <div class="pure-controls">
                    <button class="pure-button success-bg" ng-disabled="register.$error.required" ng-click="submit()">注&nbsp;&nbsp;册</button>
                </div>
            </form>
        </div>
    </div>
</div>
