<div class="row">
    <div class="span4">
        <div class="page-header">
            <h4>用户注册</h4>
        </div>
        <div class="alert alert-error" ng-show="err">
            <button type="button" class="close" ng-click="err=null">&times;</button>
            <strong>{{err.name}}：</strong>
            {{err.message}}
        </div>
        <form class="form-horizontal form-min" name="register">
            <div class="control-group">
                <label class="control-label">用户名：</label>
                <div class="controls">
                    <input class="input-block-level" type="text" placeholder="name" name="name"
                    ng-model="name" required/>
                    <span class="text-error" ng-show="register.name.$error.required">
                        请输入用户名!
                    </span>
                    <span class="text-error" ng-show="!register.name.$error.required && (name | checkName)">
                        {{name | checkName}}
                    </span>
                </div>
            </div>
            <div class="control-group">
              <label class="control-label">邮箱：</label>
              <div class="controls">
                    <input class="input-block-level" type="email" placeholder="email" name="email"
                    ng-model="email" required/>
                    <span class="text-error" ng-show="register.email.$error.required">
                        请输入Email!
                    </span>
                    <span class="text-error" ng-show="register.email.$error.email">
                        无效的Email!
                    </span>
                </div>
            </div>
            <div class="control-group">
              <label class="control-label">密码：</label>
              <div class="controls">
                    <input class="input-block-level" type="password" placeholder="password"
                    name="password" ng-model="passwd" ng-minlength="6" ng-maxlength="20" required/>
                    <span class="text-error" ng-show="register.password.$error.required">
                        请输入密码!
                    </span>
                    <span class="text-error" ng-show="register.password.$error.minlength">
                        密码太短!
                    </span>
                    <span class="text-error" ng-show="register.password.$error.maxlength">
                        密码太长!
                    </span>
                </div>
            </div>
            <div class="control-group">
              <label class="control-label">验证密码：</label>
              <div class="controls">
                    <input class="input-block-level" type="password" name="password2" ng-model="passwd2" ng-change="checkPwd()"
                    required/>
                    <span class="text-error" ng-show="register.password2.$error.required">再次输入密码</span>
                    <span class="text-error" ng-show="checkResult">
                        密码不一致！
                    </span>
                </div>
            </div>
            <div class="control-group">
              <div class="controls">
                    <button ng-click="submit()" class="btn btn-primary" ng-disabled="register.name.$error.required
                                        || register.email.$error.required
                                        || register.email.$error.email
                                        || register.password.$error.required
                                        || register.password.$error.minlength
                                        || register.password.$error.maxlength
                                        || (name | checkName)
                                        || checkResult">注 册</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span8">
    </div>
</div>
