<header class="page-header" ng-show="help">
    <h4>{{help.title}}</h4>
    <p>{{help.content}}</p>
</header>
<div ng-controller="userArticleCtrl">
    <ul class="media-list">
        <li class="media" ng-repeat="article in data">
          <div class="media-body" id="{{article._id}}">
            <header class="media-heading">
                <h5><a ng-href="{{'/'+article._id}}" ng-class="article.read">{{article.title}}</a>
                <i ng-show="article.status==2" class="glyphicon glyphicon-hand-up text-success" title="置顶"></i>
                <i ng-show="article.status>=1" class="glyphicon glyphicon-fire text-hot" title="推荐"></i>
                <i class="btn btn-mini btn-info pull-right" title="热度">{{article.hots}}</i>
                </h5>
            </header>
            <section class="media-content" ng-parse-markdown="article.content"></section>
            <footer>
                <ul class="list-inline muted">
                    <li><a ng-href="{{'/'+article.author._id}}">{{article.author.name}}</a>
                    {{article.date | formatDate}}发表</li>
                    <li>{{article.visitors}}次访问</li>
                    <li ng-hide="article.date==article.updateTime">{{article.updateTime | formatDate}}更新</li>
                    <li>{{article.comments}}条评论</li>
                    <li ng-repeat="tag in article.tagsList">
                        <a ng-href="{{'/'+tag._id}}" class="btn btn-mini">{{tag.tag}}</a>
                    </li>
                </ul>
            </footer>
          </div>
        </li>
    </ul>
    <div class="pull-left" ng-pagination="pagination" ng-show="pagination"></div>
</div>
