<div ng-controller="userArticleCtrl">
    <ul class="media-list">
        <li class="media" ng-repeat="article in data">
            <a class="pull-left text-muted" href="#" ng-click="remove(article)" title="删除文章" ng-show="isMe">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
          <div class="media-body" id="{{article._id}}">
            <header class="media-heading">
                <h4><a ng-href="{{'/'+article._id}}">{{article.title}}</a>
                <i ng-show="article.status==2" class="glyphicon glyphicon-hand-up text-success" title="置顶"></i>
                <i ng-show="article.status>=1" class="glyphicon glyphicon-fire text-hot" title="推荐"></i>
                <i class="btn btn-mini pull-right" title="热度">{{article.hots}}</i>
                </h4>
            </header>
            <footer>
                <ul class="list-inline text-muted">
                    <li><a ng-href="{{'/'+article.author._id}}">{{article.author.name}}</a>
                    {{article.date | formatDate}}发表</li>
                    <li>{{article.visitors}}次访问</li>
                    <li ng-hide="article.date==article.updateTime">{{article.updateTime | formatDate}}更新</li>
                    <li>{{article.comments}}条评论</li>
                    <li ng-show="isMe"><a class="btn btn-mini" ng-href="{{'/'+article._id+'/edit'}}">编辑</a></li>
                </ul>
            </footer>
          </div>
        </li>
    </ul>
    <div class="pull-left" ng-pagination="pagination" ng-show="pagination"></div>
</div>
