<div ng-controller="jsGen.userEditCtrl">
    <div class="page-header">
        <h3>用户设置</h3>
    </div>
    <div class="alert alert-error" ng-show="user.err">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{user.err.name}}</strong>
        {{user.err.message}}
    </div>
    <form name="userEdit">
        <label>
            <strong>
            头像地址：</strong>
            <span class="text-error" ng-show="userEdit.avatar.$error.url">无效的URL地址！</span>
        </label>
        <input type="url" name="avatar" ng-model="user.avatar" class="input-block-level"
        />
        <img class="width-50" ng-src="{{user.avatar}}" />
        <label>
            <strong>
            用户名：</strong>
            <span class="text-error" ng-show="(user.name | checkName)">{{user.name | checkName}}</span>
        </label>
        <input type="text" name="name" ng-model="user.name" />
        <label>
            <strong>
            Email：</strong>
            <span class="text-error" ng-show="userEdit.email.$error.email">无效的Email!</span>
        </label>
        <input type="email" name="email" ng-model="user.email" />
        <label>
            <strong>
            用户性别：</strong>
        </label>
        <select ng-model="user.sex" ng-options="sex | sex for sex in sexArray">
            <option value="">
                -- 性别 --
            </option>
        </select>
        <label>
            <strong>
            用户标签：</strong>
            <span class="text-info" ng-show="tagsList">{{tagsList}}</span>
        </label>
        <input type="text" name="tagsList" ng-model="tagsList" ng-list="/[,，\s]/"
        ng-change="checkTags()" class="input-block-level" />
        <label>
            <strong>
            个人简介：</strong>
        </label>
        <textarea ng-model="user.desc" class="input-block-level">
        </textarea>
        <label>
            <strong>
            修改密码（不修改请留空）：</strong>
            <span class="text-error" ng-show="userEdit.password.$error.minlength">密码太短!</span>
            <span class="text-error" ng-show="userEdit.password.$error.maxlength">密码太长!</span>
        </label>
        <input type="password" name="password" ng-model="user.passwd" ng-minlength="6"
        ng-maxlength="20" />
        <label>
            <strong>
            再次输入密码：</strong>
            <span class="text-error" ng-show="checkResult">密码不一致！</span>
        </label>
        <input type="password" name="password2" ng-model="user.passwd2" ng-change="checkPwd()"
        />
        <div>
            <button ng-click="submit()" class="btn btn-large btn-primary">保  存</button>
        </div>
    </form>
</div>
