<div ng-controller="userArticleCtrl">
    <div class="page-header inner">
        <a class="pure-button list-model right" title="{{parent.listModel?'简洁模式':'摘要模式'}}" ng-if="!global.isPocket" ng-class="{'info-bg':!parent.listModel}" ng-click="setListModel()"><i class="icon-th-large"></i></a>
        <strong>{{parent.title}}</strong>
    </div>
    <ul class="media-list">
        <li class="media" ng-animate="{enter:'fadeInDown',leave:'fadeOutDown'}" ng-repeat="article in articleList">
            <a class="media-object left" title="删除文章" ng-show="article.isAuthor||global.isEditor" ng-click="remove(article)">
                <i class="icon-remove"></i>
            </a>
            <div class="media-body" id="{{article._id}}" ng-class="{muted: article.read}">
                <div class="media-header">
                    <a ng-href="{{'/'+article._id}}">
                        <i class="primary" ng-class="{'icon-hand-up':article.status==2, 'icon-external-link':article.status!=2}" ng-hide="article.isAuthor"></i>{{article.title}}</a>
                    <i ng-show="article.status==1" class="icon-thumbs-up hot" title="推荐"></i>
                    <a class="pure-button pure-button-link" ng-href="{{'/'+article._id+'/edit'}}" ng-show="isMe"><i class="icon-edit"></i></a>
                    <i class="icon-star-empty right hot hover-icon" title="热度" ng-show="!global.isPhone">{{article.hots}}</i>
                </div>
                <div class="media-content list-content" ng-animate="{show:'fadeIn',hide:'fadeOut'}" ng-hide="parent.listModel" gen-parse-md="article.content"></div>
                <div class="media-footer">
                    <a ng-href="{{'/'+article.author._id}}"><i class="icon-pencil success"></i>{{article.author.name}}</a>
                    <i class="icon-time" title="{{article.date | formatDate:true}}发布"> {{article.date | formatDate}}</i>
                    <i class="icon-refresh" title="{{article.updateTime | formatDate:true}}更新"> {{article.updateTime | formatDate}}</i>
                    <i class="icon-comments-alt" title="评论" ng-show="article.comments"> {{article.comments}}</i>
                    <a ng-repeat="tag in article.tagsList" ng-href="{{'/'+tag._id}}" class="pure-button pure-button-link">{{tag.tag}}</a>
                </div>
            </div>
        </li>
    </ul>
    <p class="inner" ng-show="articleList.length==0">暂无</p>
    <div gen-pagination="pagination"></div>
    <div gen-modal="removeArticleModal">确定要删除文章《{{removeArticle.title}}》？</div>
</div>
