/*!
 * jsGen
 *
 * Copyright 2013 ZENSH
 * https://github.com/zensh/jsgen
 *
 */
 body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

body,
input,
button,
select,
textarea {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.nav img {
    height: 40px;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
    border-top: 1px solid #ddd;
}

.content,
.tab-content {
    padding-top: 10px;
}


.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}
.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url("./img/wmd-buttons.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}
.wmd-prompt-background
{
    background-color: Black;
}
.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}
.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}
.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}
.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
.wmd-preview {
    background-color: #ffffff;
    padding: 10px;
    min-height: 100px;
}
.panel,
.panel-transparent {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.panel {
    background-color: #ffffff;
}
/*body {
    background:url('./img/bg2.png') repeat fixed;
}*/
body {
    word-wrap: break-word;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAYCAYAAACIhL/AAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAACYUlEQVRIx42WYXLrIAyEBSb3v2OvkSDen7f0y0Y49UynDgYhrVYrtZ+fn/V4PGLOGRERa62IiGitvb231iIiIjOj9x561lp7X+89MnN/u64r1lqRmduGzmdmrLU+9tBG7z2GLtbh6llrbQf5+H5dquB0sd61npn7rILzgLV/aKMi0EME3RAdI8qOtlDQhUJHSDFwrdFGay0GI9fFfknl8LfnFNzdQ7B0ZtAB8eGEDh11jlZpYhr5V9kmt2lvcMENeOReHNzHb478af0vyA6mt0or14jc6eLqvPaLg6ziKjCeGadUni4k0Yksif8NvdN3nt9Fcl3X5h61Sr+pSSQytU+/SW79JkKUlznnm4PSYZerUZHXUWCqvUDudJKBZGaMMW5VgpKzOajUXNf1Idgu3lWXYdSy4YGJa6eiqFIrv8acM+ac8Xq9ynbl6MhpBuHSUfGaSHphsNu4QgwS3KXEHaTjXs3uCB1iMN/aKB3NzF+ZqdqZizFTQSNe4XSGRVS1sqo1EuXRe/+oUKFadRDXNBdxn1oqLSVyfocjO06OONycRIiKf6c88V1VrMx4/2eVv3FwzhnP57M8SEc8TZVznlpRQo55toSwayrtvKWYhNXhSvkpH3ekp8ZS4KvZs+L/fz96OY146Z8qrRJ2rv91xuQgy/tHNeY44St99JQzbacJR9+47u8e0HDBJNkrOakEmkZPE/paazcETtP6z16sPt1ai04dvOPEtzGsCqripTgvqar6L9f2NMMq8wnmrtq8q9C4pqQq5U4daibRHyQn+Xjqx3d9+jRtnzLknclRbK3FP3PnY9UL0WZ9AAAAAElFTkSuQmCC) repeat fixed;
}
.panel .nav-tabs {
    padding: 0 10px;
}
.container-large {
    width: 100%;
    max-width: 1600px;
}
.container-large .row {
    width: 100%;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
#refer-comments {
    margin-top: 10px;
}
.media {
    padding: 0 10px;
    margin: 0;
}
.media-list > li {
    border-top: 1px solid #ddd;
    padding: 5px 25px;
}
.media-list > li:hover {
    background-color: #f6f6f6;
}
.media-object {
    width: 80px;
    height: 80px;
}
.sidebar .media-list > li {
    border-top: 1px solid #ddd;
    padding: 5px 10px;
}
.sidebar .media-list > li:hover {
    background-color: #fff;
}
.media-list > li:first-child {
    margin-top: 10px;
    border-top: none;
}
#comments h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.page-footer {
  padding-top: 10px;
  margin: 40px 0 20px;
  border-top: 1px solid #ddd;
}
#msg-modal {
    max-width: 680px;
    margin: 0 auto;
    padding: 10px;
    top: 20%;
    bottom: auto;
}
.panel > header,
.panel > footer,
.panel > section {
    padding-left: 25px;
    padding-right: 25px;
}
.inner {
    padding-left: 10px;
    padding-right: 10px;
}
.text-hot {
  color: red;
}
.sidebar .glyphicon {
    float: left;
}
.sidebar .panel > header {
    border-bottom: 2px solid #ddd;
    margin-bottom: 5px;
}
.parse-markdown > p,
#wmd-preview > p {
    text-indent: 2em;
}
#loading {
    position: fixed;
    top: 38%;
    left: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
}
#loading div {
    width: 50%;
    max-width: 315px;
    margin: 0 auto;
}
