<ul class="nav nav-tabs inner">
    <li ng-class="{active: parent.viewPath=='latest'}">
        <a href="/latest" title="最新文章">最新</a>
    </li>
    <li ng-class="{active: parent.viewPath=='hots'}">
        <a href="/hots" title="热门文章">热门</a>
    </li>
    <li ng-class="{active: parent.viewPath=='update'}">
        <a href="/update" title="最近更新文章">更新</a>
    </li>
    <li ng-class="{active: !parent.viewPath}" ng-show="other._id">
        <a ng-href="/{{other._id}}">{{other.title}}</a>
    </li>
    <div class="pure-button-group right">
        <a href="/add" class="pure-button success-bg" ng-if="global.isLogin">发表文章</a>
        <a class="pure-button list-model" title="{{parent.sumModel?'摘要模式':'简洁模式'}}" ng-if="!global.isPocket" ng-class="{'info-bg':parent.sumModel}" ng-click="setListModel()"><i class="fa fa-th-large"></i></a>
    </div>
</ul>
<ul class="list-inline inner">
    <li ng-repeat="tag in global.tagsList">
        <a ng-href="{{'/'+tag._id}}" class="pure-button pure-button-xsmall info-bg">{{tag.tag}}</a>
    </li>
    <li>
        <a href="/tag" class="pure-button pure-button-xsmall"><i class="fa fa-search"></i>更多</a>
    </li>
</ul>
<ul class="media-list">
    <li class="media" ng-repeat="article in articleList">
        <div class="media-body" id="{{article._id}}">
            <div class="media-header">
                <a ng-href="{{'/'+article._id}}">
                    <i class="primary" ng-class="{'fa fa-hand-o-up':article.status==2, 'fa fa-external-link':article.status!=2}"></i>{{article.title}}</a>
                <i ng-show="article.status==1" class="fa fa-thumbs-up hot" title="推荐"></i>
                <i class="fa fa-star-o right hot hover-icon" title="热度" ng-show="!global.isPhone">{{article.hots}}</i>
            </div>
            <div class="media-content list-content" ng-show="parent.sumModel" gen-parse-md="article.content"></div>
            <div class="media-footer">
                <a ng-href="{{'/'+article.author._id}}"><i class="fa fa-pencil success"></i>{{article.author.name}}</a>
                <i class="fa fa-clock-o" title="{{article.date | formatDate:true}}发布"> {{article.date | formatDate}}</i>
                <i class="fa fa-refresh" title="{{article.updateTime | formatDate:true}}更新"> {{article.updateTime | formatDate}}</i>
                <i class="fa fa-comments-o" title="评论" ng-show="article.comments"> {{article.comments}}</i>
                <a ng-repeat="tag in article.tagsList" ng-href="{{'/'+tag._id}}" class="pure-button pure-button-link">{{tag.tag}}</a>
            </div>
        </div>
    </li>
</ul>
