<!DOCTYPE html>
<html lang="zh-CN" ng-app="jsGen">
    <head>
        <meta charset="utf-8">
        <title ng-bind="global.title2+' | '+global.title">AngularJS中文社区</title>
        <meta http-equiv="content-type" content="text/html">
        <meta name="title" content="{{global.metatitle}}">
        <meta name="description" content="{{global.metadesc}}">
        <meta name="keywords" content="{{global.keywords}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" href="/static/?parse=/static/css/pure-min.css|/static/css/prettify.css|/static/css/toastr.min.css&v=_jsGenVersion_" media="screen" type="text/css">
        <link rel="stylesheet" href="/static/css/main.css?v=_jsGenVersion_" media="screen" type="text/css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css?v=_jsGenVersion_" media="screen" type="text/css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
    </head>
    <body class="ng-cloak" ng-cloak>
        <div class="pure-g-r">
            <header class="pure-u-1 menu">
                <nav class="pure-menu pure-menu-open pure-menu-horizontal wrap">
                    <img class="left" ng-src="{{global.logo}}"/>
                    <a class="pure-menu-heading" href="/">{{global.title}}</a>
                    <ul>
                        <li ng-show="global.isLogin"><a href="/home"><i class="icon-home"></i>Home</a></li>
                        <li><a href="/tag/JavaScript">JavaScript</a></li>
                        <li><a href="/tag/AngularJS">AngularJS</a></li>
                        <li><a href="/tag/Node.js">Node.js</a></li>
                        <li><a href="/tag/jsGen">jsGen</a></li>
                    </ul>
                    <ul class="right user" ng-if="!global.isLogin">
                        <li><a href="/register"><i class="icon-user-md"></i>注册</a></li>
                        <li><a href="/login"><i class="icon-signin"></i>登录</a></li>
                    </ul>
                    <ul class="right user" ng-if="global.isLogin">
                        <li><img class="img-mini" ng-src="{{global.user.avatar}}"/></li>
                        <li><a href="/home"><i class="icon-smile"></i>{{global.user.name}}[{{global.user.role | role}}]</a></li>
                        <li><a ng-click="logout()"><i class="icon-signout"></i>退出</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="pure-g-r">
            <div id="main" class="pure-u-1 pure" ng-view></div>
        </div>
        <div class="pure-g-r">
            <footer class="pure-u-1 footer">
                <div class="wrap">
                    <a class="primary" ng-href="{{global.url}}">{{global.title}}</a> ©2013 Powered by
                    <a href="https://github.com/zensh/jsgen" target="_blank">jsGen {{global.info.version}}<i class="icon-flag hot"></i></a>
                    [<a class="info" href="http://angularjs.org" target="_blank">AngularJS {{global.info.angularjs}}</a>&nbsp;
                    <a class="info" href="http://nodejs.org" target="_blank">Node.js {{global.info.nodejs}}</a>&nbsp;
                    <a class="info" href="https://github.com/DoubleSpout/rrestjs" target="_blank">rrestjs {{global.info.rrestjs}}</a>]
                </div>
            </footer>
        </div>
        <div class="loading" ng-show="loading.show"></div>
        <script>
            var jsGenVersion ='_jsGenVersion_';
        </script>
        <script src="/static/js/lib/jquery.js"></script>
        <script src="/static/js/lib/underscore.min.js"></script>
        <script src="/static/js/lib/toastr.min.js"></script>
        <script src="/static/js/lib/prettify.min.js"></script>
        <script src="/static/js/lib/Markdown.Editor.js"></script>
        <script src="/static/js/lib/sanitize.js"></script>
        <script src="/static/js/lib/marked.js"></script>
        <script src="/static/js/lib/utf8.min.js"></script>
        <script src="/static/js/lib/hmac-sha256.min.js"></script>
        <script src="/static/js/lib/bootstrap.js"></script>
        <script src="/static/js/lib/angular.js"></script>
        <script src="/static/js/lib/angular-locale_zh-hans-cn.js"></script>
        <script src="/static/js/lib/angular-resource.min.js"></script>
        <script src="/static/js/lib/angular-cookies.min.js"></script>
        <script src="/static/js/lib/ui-validate.js"></script>
        <script src="/static/js/router.js?v=_jsGenVersion_"></script>
        <script src="/static/js/tools.js?v=_jsGenVersion_"></script>
        <script src="/static/js/controllers.js?v=_jsGenVersion_"></script>
        <script src="/static/js/services.js?v=_jsGenVersion_"></script>
        <script src="/static/js/filters.js?v=_jsGenVersion_"></script>
        <script src="/static/js/directives.js?v=_jsGenVersion_"></script>
        <script src="/static/js/app.js?v=_jsGenVersion_"></script>
    </body>
</html>